<nav>
    <ul>
        <li> <a href="/admin">Dashboard</a> </li>
        <li> <a href="/admin/houses">Boliger</a> </li>
        <li> <a href="/admin/house_types">Bolig typer</a> </li>
        <li> <a href="/admin/news">Nyheder</a> </li>
        <li> <a href="/admin/open_times">Åbningstider</a> </li>
        <li> <a href="/admin/contact">Firma information</a> </li>
        <li> <a href="/admin/comments">Kontakt</a> </li>
        <li> <a href="/admin/users">Bruger</a> </li>
        <li> <a href="/admin/roles">Roller</a> </li>
    </ul>
</nav>