<nav>
    <ul>
        <li><a href="/" id="frontpage">Forsiden</a></li>
        <li><a href="/s%C3%B8g" id="homes">Find bolig</a></li>
        <li><a href="/nyheder" id="news">Nyheder</a></li>
        <li><a href="/kontakt" id="contact">Kontakt</a></li>
    </ul>
</nav>